.post-item {
    padding: 20px;
    margin-bottom: 20px;

    border-radius: 5px;

    background-color: #f4f4f4;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .post-item h2,
  .post-item p {
    border: 5px solid #ccc;
    border-radius: 5px;
    
    padding: 10px;
  }
  
  .post-item h2 {
    color: #333;

    margin-bottom: 20px;

    font-size: 30px;
    line-height: 1.2;
  }

  .post-item b {
    color: #1a1a1a;
  }
  
  .post-item p {
    color: #666;

    font-size: 20px;
    line-height: 1.5;
  }

  .post-item button {
    margin-top: 20px;

    font-size: 20px;
    line-height: 1.5;
  }
  